* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/

body {
	font-family: Arial, sans-serif, Shantell Sans;
}

.main {
	min-height: 100%;
	overflow: hidden;
	/* display: flex;
	flex-direction: column; */

}

.header {
	padding: 50px 0px 60px 0px;
	background-color: rgb(205, 166, 137);
	/* margin: -20px 0px -90px 0px; */
}

.container {
	max-width: 1180px;
	margin: 0px auto;
}

.header__row {
	display: flex;
	justify-content: space-between;
}

.header__body {
	color: #000000;
}

.header__title {
	font-size: 30px;
	font-weight: 500;
	text-align: left;
	margin: 0px 0px -50px 80px
}

.header__image {}

.header__item {
	text-align: center;
	font-size: 18px;
	margin: -45px 0px 0px 950px
}

a {
	background-color: rgba(205, 166, 137, 0);
}

button {
	background-color: rgba(205, 166, 137, 0);
}

.profile {
	max-width: 600px;
	margin: auto;
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

button {
	display: inline-block;
	padding: 10px 15px;
	font-size: 25px;
	color: rgb(0, 0, 0);
	border: none;
	border-radius: 10px;
	border-color: #0f52a8;
	cursor: pointer;
}

button1:hover {}

.post {
	background-color: blanchedalmond;

}


.post__row {}

.post__body {
	padding: 80px 0px 80px 0px;
}

.post__post {}

.post__post,
textarea {
	margin: 5px;
}

.submitPost {}

.footer {
	background-color: rgb(205, 166, 137)
}

.footer__row {
	display: flex;
	height: 120px;
	justify-content: right;
	align-items: right;
}

.comments {
	text-align: center;
	margin: 100px 0px 50px 700px;
	padding-left: 20px;
}

.footer__text {
	color: #445162;
	font-size: 12px;
	letter-spacing: 0.3px;
}

.footer__image {
	margin: 30px 5px;
}